body {
  margin: 0;
  background-color: #1e1e1e;
}

ul {
  list-style-type: none;
  margin: 0;
  position: sticky;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
  background-color: #333;
}

li.right {
  float: right;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  text-align: center;
}
a {
  color: white;
  text-decoration:underline;
}
li {
  float: left;
}


li a {
  font-size: 16px;
  font-family: 'Courier New';
  border-radius: 5px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}

h3 {
  font-family: 'Courier New';
  text-align: center;
}


h4 {
  font-size: 14px;
  font-family: 'Courier New';
  text-align: center;
}

article {
  margin: 0;
  color: white;
  font-size: 14px;
  font-family: 'Courier New';
  background-color: #333;
  border-radius: 5px;
  float: left;
  height: fit-content;
}

p {
  font-size: 12px;
  font-family: 'Courier New';
  border-radius: 5cm;
  display: block;
  color: white;
  padding: 1px 16px;
  text-decoration: none;
}

.active {
  background-color: #04AA6D;
}

#loader {
  position: absolute;
  left: 50%;
  top: 50%;
  z-index: 1;
  width: 120px;
  height: 120px;
  margin: -76px 0 0 -76px;
  border: 16px solid #666363;
  border-radius: 50%;
  border-top: 16px solid #181818;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
}

@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Add animation to "page content" */
.animate-bottom {
  position: relative;
  -webkit-animation-name: animatebottom;
  -webkit-animation-duration: 1s;
  animation-name: animatebottom;
  animation-duration: 1s
}

@-webkit-keyframes animatebottom {
  from { bottom:-100px; opacity:0 } 
  to { bottom:0px; opacity:1 }
}

@keyframes animatebottom { 
  from{ bottom:-100px; opacity:0 } 
  to{ bottom:0; opacity:1 }
}

#myDiv {
  display: none;
  text-align: center;
}

.animate-in {
  -webkit-animation: fadeIn .5s ease-in;
  animation: fadeIn .5s ease-in;
}

.animate-out {
  -webkit-transition: opacity .5s;
  transition: opacity .5s;
  opacity: 0;
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}

@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}