body {
  margin: 0;
  background-color: #1e1e1e;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  border-radius: 5px;
  background-color: #333;
}

li.right {
  float: right;
}

li {
  float: left;
}

li a {
  font-size: 16px;
  font-family: 'Courier New';
  border-radius: 5px;
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: #111;
}
h3 {
  font-family: 'Courier New';
  text-align: center;
}
h4 {
  font-size: 14px;
  font-family: 'Courier New';
  text-align: center;
}
article {
  margin: 0;
  color: white;
  font-size: 14px;
  font-family: 'Courier New';
  background-color: #333;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
}

p {
  font-size: 12px;
  font-family: 'Courier New';
  border-radius: 5px;
  display: block;
  color: white;
  padding: 1px 16px;
  text-decoration: none;
}

.active {
  background-color: #04AA6D;
}